min-release-age=3
ignore-scripts=true
min-release-age-exclude[]=@cobrowseio/*
min-release-age-exclude[]=cobrowse-sdk-js
min-release-age-exclude[]=cobrowse-agent-sdk
min-release-age-exclude[]=cobrowse-agent-ui
