
.CodeEntry {
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.CodeEntry input[type=number] {
    font-size: 1em;
    width: 1.6em;
    height: 2em;
    margin: 0.2em;
    text-align: center;
    transition: all 0.1s linear;
    -moz-appearance:textfield;
}

.CodeEntry input:nth-of-type(3) {
    margin-right: 0.6em
}

.CodeEntry input[type=number]::-webkit-outer-spin-button,
.CodeEntry input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-7px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(7px, 0, 0);
  }
}

.CodeEntry .invalid {
    animation: shake 1s cubic-bezier(.16,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
