
.Device {
    padding: 7px;
    border-left: 5px solid transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Device.online {
    border-left: 5px solid #3cc56e;
}

.Device .last-seen {
    font-size: 0.8em;
    color: #777;
    margin-top: 3px;
    white-space: nowrap;
}

.Device .platform-icon {
    font-size: 30px;
    max-height: 30px;
    margin: 0px 4px;
    pointer-events: none;
    flex: 0 0 auto;
}

.Device .details {
    flex:1;
    margin-left: 7px;
}
