
.Session {
    padding: 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Session .details {
    flex:1;
    margin-left: 7px;
}

.Session .recorded {
    text-transform: uppercase;
    font-size: 10px;
    color: #333;
    padding: 0px 10px;
    border-radius: 10px;
}

.Session .active {
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #9ed56b;
    padding: 1px 3px 1px 3px;
    border-radius: 3px;
    display: inline-block;
}

.Session .activated {
    font-size: 0.8em;
    color: #777;
    margin-top: 3px;
    white-space: nowrap;
}

.Session .recorded:before {
    content: '';
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background: red;
    border-radius: 100%;
    display: inline-block;
}

.Session .duration {
    font-weight: bold;
    font-size: 12px;
}
