
.SmartConnectButton {
    margin: 3px;
    display: inline-block;
    background: #F6F4F8;
    padding: 12px 16px;
    cursor: not-allowed;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0.6;
}

.SmartConnectButton.connectable {
    background: #040D3C;
    color: #ffffff;
    cursor: pointer;
    opacity: 1;
}
